@import '~@/app-style.less';
.client-header-wrapper {
  padding: 0 16px;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}
.client-header {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  align-items: center;

  h1 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    width: 35%;

    span {
      font-weight: 400;
      color: #a3b1be;
    }
  }
  nav {
    width: 30%;
    ul {
      display: inline-block;
    }
  }
  .-divider {
    height: 14px;
    margin: 0 48px;
  }
  .operations {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ant-btn {
      width: 140px;
      margin-left: 8px;
    }
  }
}
