@import '~@/app-style.less';
.client-header-wrapper {
  padding: 0 16px;
  background: #011528;
  z-index: 3;
  position: relative;
}
.client-header {
  margin: 0 auto;
  max-width: 1140px;

  .ant-row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  h1 {
    a {
      display: inline-block;
      color: #fff;
      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.8);
      }
      transition: 200ms;
    }
    font-size: 18px;
    font-weight: 600;

    span {
      font-weight: 400;
      color: #a3b1be;
      margin-right: 6px;
    }
  }
  nav {
    ul {
      display: inline-block;
    }
    .ant-menu-item {
      border-bottom: 4px solid transparent !important;
      border-top: 4px solid transparent !important;
    }
    .ant-menu-item-selected {
      background-color: transparent !important;
      border-bottom: 4px solid #1890ff !important;
    }
  }
  .-divider {
    height: 14px;
    margin: 0 48px;
  }
  .operations {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .-user {
      border: none;
      background: transparent;
      color: white;
    }

    .ant-btn {
      width: 140px;
      margin-left: 8px;
    }
  }
}
