@import '~@/app-style';

.account-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: @main-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .section {
    width: 440px;
    padding-bottom: 64px;

    .-legend {
      color: #fff;
    }
  }
}