body {
  background-color: #f7f7f7;
}
h1,
ul {
  margin: 0;
}
.client-body {
  max-width: 1140px;
  margin: 32px auto;
}
.ant-page-header-title-view-title {
  font-size: 32px !important;
}
.ant-menu-horizontal {
  border-bottom-color: transparent !important;
}